*~
*#
*.o
*.log
*/aclocal.m4
*/autom4te.cache/
*/.deps/
*/.libs/
*/*.o
*/config.guess
*/config.h.in
*/config.log
*/config.status
*/config.sub
*/depcomp
*/install-sh
*/libtool
*/ltmain.sh
*/m4/
*/Makefile
*/Makefile.in
*/missing
*/Ogre.log
*/stamp-h1
*/configure
*/ogre.cfg
*/BallApp
*/MenuApp
*/RacquetApp
*/OgreBall
*/config.h